@charset "UTF-8";
/* CSS Document */

#searchbox
{

	
	-moz-border-radius: 35px;
	border-radius: 35px;         
	height: 35px;
	padding: 10px;
	margin: 0px;
	overflow: hidden; /* Clear floats */
	float: right;
}