# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Grant Jeffery}
- {Emma}
- {Laura}
- {Emily}
- {Elisa
- {Grant}

## Tasks

1. {Read Artist Statement.}
2. {Buy a picture.}
3. {Get to Abstract Photos.}

---

## Individual Results & Observations

### {Grant Jeffery (tab)}

- {He completed the task as expected: yes}
- {He had troubles completing a specific task: there was no difficulty completing tasks}


### {Laura (tab)}

- {She completed the task as expected:yes}
- {She had troubles completing a specific task: there was no difficulty completing tasks}

### {Emma (audio command)}

- {They completed the task as expected:yes}
- {They had troubles completing a specific task: there was no difficulty completing tasks}


### {Grant (audio command)}

- {He completed the task as expected: yes}
- {He had troubles completing a specific task: there was no difficulty completing tasks}


### Emily Prochnau (tab)}

- {She completed the task as expected:yes}
- {She had troubles completing a specific task: there was no difficulty completing tasks}


### {Elisa (audio command)}

- {They completed the task as expected:yes}
- {They had troubles completing a specific task:: there was no difficulty completing tasks}

---

## Trends

all users were able to complete given task with no difficulty.
They were able to navigate the website easily, finding it accessable to audio and visual impared users.