---
layout: default
title: Home Page
meta: Photography
---
<main role="main">
<h2> James Erdeg Photography</h2>
<h3>Artist Statement</h3>
<p>I am currently working on a series of photographs of everyday, ordinary spaces that appear abstract with simple changes of light, perspective or chance. The way the light bounces off a building, a reflection in a passing window, the shape a spilled drink makes on the sidewalk... These things happen all around us and often result in beautiful scenes that I love to notice, photograph and share. I photograph these scenes as I find them, without arranging or altering them.</p> 

<p>What I'm drawn to is the ambiguity of these scenes, since nobody has deliberately constructed them, its often a matter of trying to figure out how they came to be and why. The images often leave the viewer asking questions...  What is that band of light passing across the frame?  What's creating that glow in the corner of that room?  Is that a painting or drawing or  photograph? Was this found this way or arranged?</p>


	{% include promo-large.html title="Promo 1" desc="Super awesome wonderful deal!!" image="images/abstract/splash.jpg"%}


<div class="grid">

	<div class=" gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 1" desc="Super awesome wonderful deal!!" image="images/nature/sunrise.jpg"%}
	</div>

	<div class=" gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small2.html title="Promo 2" desc="Gotta Have it!!" image="images/abstract/spills.jpg"%}
	</div>

	<div class=" gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small3.html title="Promo 3" desc="Bueno!!" image="images/nature/river.jpg"%}
	</div>

</div>
</main>