# User Testing Report

User testing was conducted by {Alexandra Chama} on {March 24th 2014} between the times of {start time} and {end time} with the following participants:

- {Grant Jeffery}
- {Kayla Araujo}
- {Emma Mcinall}

## Tasks

1. {Does the navigation take you to the desired page?}
2. {Can you find the nature and abstract photos?}
3. {Can you find the price and take it to checkout?}

---

## Individual Results & Observations

### {Grant Jeffery}

- {He clicked on the link as expected:yes}
- {He had troubles completing a specific task:no}
- {He asked these questions: where is your content, the about page needs work}
- {Link cart page, add content}
- etc.

### {Kayla Araujo}

- {She clicked on the link as expecte}
- {She had troubles completing a specific task: getting the buy now option}
- {She asked these questions: no questions}
- {Need to add buy now buttons to photos to take you to checkout…}
- etc.
### {Emma Mcinall}

- {She clicked on the link as expected:yes}
- {She had troubles completing a specific task:no}
- {She asked these questions: none}
- {Emma found it easy to navigate}
- etc.

---

## Trends

Users found there the website needed more content. They also felt that I needed to link all my images to the checkout, 
and add buy now buttons for the photographs.