---
layout: default
title: Photographs
---

{% include photo-nav.html %}

<ul class="list-group">
	{% for photo in site.pages %}
		{% if photo.category == 'photograph' %}
		<a href="{{site.baseurl}}{{photo.url}}"><h4>{{photo.title}}</h4></a>
			<li class="list-group-item">
				<a href="{{site.baseurl}}{{photo.url}}">
				<div class ="images"><img src="{{site.baseurl}}/images/{{photo.image}}" alt="image"></div>
				
				</a>
				<div>
					<a class="btn micro" href="../cart/"> Buy Now </a>
				</div>
			</li>
			
		{% endif %}
	{% endfor %}
</ul>

