
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} · James Erdeg Photography</title>
<meta name ="description" content="{{page.meta}}">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">

	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buckets.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
	
</head>

<body>
<header class="box">
<div class="header-left">
	<a href="#.html"><img src="{{site.baseurl}}/images/logo.svg" alt="logo" class="logo"></a>
	<nav>
		<div class="list">
		
		<ul class=list-group>
			<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/"> <strong>HOME/</strong></a></li>
			<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/about/"><strong>ABOUT/ </strong></a></li>
			<li class="list-group-item list-group-item-inline"><a href="#"><strong>PHOTOS/ </strong></a></li>
			<li class="list-group-item list-group-item-inline"><a href="#"><strong>CONTACT/ </strong></a></li>
		</ul>
		
			
		</div>
	</nav>
</div>
	<div class="search">
	<form id="searchbox" action="">
    				<input id="search" type="text" placeholder="Type here">
   					<input id="submit" type="submit" value="Search">
					</form>
	</div>
	
	</header>
	{{content}}
	
		
<footer class="box2">
	<nav>	
		<div class="list2">
		
			<ul class=list-group>
				<li class="list-group-item list-group-item-inline"><a href="#.html"><img src="{{site.baseurl}}/images/facebook.svg" alt="facebook" class=						                "media-icons"></a></li>
				
				<li class="list-group-item list-group-item-inline"><a href="#.html"><img src="{{site.baseurl}}/images/twitter.svg" alt="twitter" class=		               "media-icons"></a></li>
				
				<li class="list-group-item list-group-item-inline"><a href="#.html"><img src="{{site.baseurl}}/images/in.svg" alt="in" class="media-icons"></a>	               </li>
				
				<li class="list-group-item list-group-item-inline"><div class="copywrite"> © James Erdeg Photography 2014</div></li>
			</ul>
		</div>
	</nav>
	
</footer>

<body>
</body>
</html>
