
<!doctype html>
<html lang="en-ca">
<head>
<meta charset="UTF-8">
<title>{{page.title}} · James Erdeg Photography</title>
<meta name ="description" content="{{page.meta}}">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet'>
<link rel="icon" href="{{site.baseurl}}/images/favicon.ico" type="image/x-icon">

<link href="{{site.baseurl}}/css/james-erdeg-photography.css" rel="stylesheet">
	

	
</head>

<body>
<header class="box" role="banner">
<div class="header-left">
	<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.svg" alt="James Erdeg logo" class="logo"></a>
	
</div>
	<div class="header-right">
	
	<div class="search">
		<form id="searchbox" action="{{site.baseurl}}/search/" role="search">
    		<label for ="search"> </label>
			<input id="search" type="text" placeholder="Type here">
    		<input id="submit" type="submit" value="Search">
		</form>
	</div>
	
		<nav class="list" role="navigation">
		
		<ul class=list-group>
			<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/"> <strong>HOME/</strong></a></li>
			<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/about/"><strong>ABOUT/ </strong></a></li>
			<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/photographs/"><strong>PHOTOS/ </strong></a></li>
			<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/contact/"><strong>CONTACT/ </strong></a></li>
		</ul>
		</nav>
	
	</div>
	
	</header>
	{{content}}
	
		
<footer class="box2" >
	<nav>	
		<div class="list2">
		
			<ul class=list-group>
				<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/facebook.svg" alt="facebook" class=						                "media-icons"></a></li>
				
				<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/twitter.svg" alt="twitter" class=		               "media-icons"></a></li>
				
				<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/in.svg" alt="in" class="media-icons"></a>	               </li>
				
				<li class="list-group-item list-group-item-inline"><div class="copywrite" role="contentinfo"> © James Erdeg Photography 2014</div></li>
			</ul>
		</div>
	</nav>
	
</footer>

</body>
</html>
